PORT=3000
SESSION_SECRET=richstravacoach2026xk92mplqz

STRAVA_CLIENT_ID=213003
STRAVA_CLIENT_SECRET=a7acf0a73fb4311a0412606a04deaece1fe56551
STRAVA_REDIRECT_URI=http://localhost:3000/auth/strava/callback

